.group-items-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px 0;

  .group-item {
    text-align: left;
    margin-bottom: 3px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      cursor: pointer;
    }
  }
}







